body {
/*  background-color: #04575f;*/
/*  background-color: #6f6d7a;*/
  background-color: white;
  font-family: 'Muli', sans-serif;
}

h2 {
  text-decoration: underline;
}

div.jumbotron {
  background-image: url(http://res.cloudinary.com/emilymarro/image/upload/v1520279484/sea-2755906_1920_dfxw3z.jpg);
 /* background-image: url(http://res.cloudinary.com/emilymarro/image/upload/v1520279484/red-diagonal-bricks-880745_1920_yus5ub.jpg);*/
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  border-width: 5px;
  border-color: #bb6e76;
  text-align: center;
  font-family: 'Muli', sans-serif;
}

div.contact {
  align-items: center;
}

nav {
  position: fixed;
}

.about {
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
/*    font-weight: 700;*/
    letter-spacing: 1px;
    text-transform: uppercase;
}

/*.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}*/

.btn.outline {
  background: none;
  padding: 12px 22px;
}

.btn-primary.outline {
  border: 2px solid #0099cc;
  color: #0099cc;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.btn btn-primary btn-lg{
  margin: 10px;
}

.space {
  margin: 20px;
  text-align: center;
}

#skills {
  font-style: bold;
  margin-top: 50px;
}


#portfolio {
  margin-top: 10px;
}

#contact {
  margin-top: 40px;
  text-align: center;
}

.project {
  text-align: center;
  margin-top: 40px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}
